{% extends "tutorials/base.html" %} {% load static %}{% block title %} Customers
{% endblock%} {% block content%}
<h2>Customers<h2>
  <div class="table-div">
  <table class="table">
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Address</th>
      <tr>
    <thead>
    <tbody>
      {% for customer in customers_list %}
        <tr>
          <td>{{customer.company_name}}</td>
          <td>{{customer.address}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %} {% block jsfiles %} {% endblock jsfiles %}
